<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="">

    <!--SERVER-->
    <add key="ServerPath" value="https://demos.telerik.com/blazor-dashboard-app/signin" />

    <!--GENERAL INFO-->
    <add key="BrowserToExecuteTests" value="Chrome" />

    <!--GENERAL INFO-->
    <add key="PathDocumentTesting" value="DocumentsForTesting" />
    <add key="TestCaseResultsPath" value="C:\Results\" />
    <add key="TestCaseResultsImageVideoPath" value="C:\Results\ImagesAndVideos\" />
    <add key="ReportFileName" value="BlazorReportTest" />
    <add key="BrowserToExecuteTests" value="Chrome" />

    <add key="recordingHistory" value="1" />
  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Serilog.Sinks.Console" publicKeyToken="24c2f752a8e58a10" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>